<h1><a href="/">Gulp-ES15-boilerplate</a></h1>
<h2>EcmaScript 2015-compatible web development boilerplate & Gulp pipeline</h2>
<h3>By <a href="https://jacobpedersen.me">Jacob Pedersen</a> | <a href="https://github.com/frash23">GitHub</a> <a href="mailto:jacob@bytesizedpacket.com">Email</a></h3>
<p class="links">
	<a href="/page/usage">Usage</a>
	<a href="/page/source">Explaining the pipeline</a>
	<a href="/page/faq">Q&amp;A</a>
</p>
