<p>
	<b>Usage</b><br>
	The included package.json includes three scripts:
	<ul>
		<li>npm run watch
		<li>npm run server
		<li>npm run build
	</ul>
	Watch will start the gulp watch task, server will start the express/handlebars server, build will run the gulp dist task.
</p>
